@page "{pagenum}"
@model ScreenCoreApp.ConsultationsModel
@{
    ViewData["Title"] = "Consultations";
}
<div class="content_header">
    Sprechstunden
</div>
<div id="pageindex">Seite @Model.Pagenum</div>
<div class="table_container">

    <table>
        <tbody>
            <tr>
                <th style="width:35%">Lehrer</th>
                <th style="width:20%">Raum</th>
                <th style="width:15%">Tag</th>
                <th style="width:10%">Stunde</th>
                <th style="width:20%">Durchwahl</th>
            </tr>

            @for (int i = Model.item_start; i < Model.item_end; i++)
            {
                <tr>
                    <td>
                        @Model.Consultations[i].Lehrer
                    </td>

                    <td>
                        @Model.Consultations[i].Raum
                    </td>

                    <td>
                        @ScreenCoreApp.Classes.StringFunctions.GetDayOfInt(Model.Consultations[i].Tag)
                    </td>

                    <td>
                        @Model.Consultations[i].Stunde
                    </td>

                    <td>
                        @Model.Consultations[i].Durchwahl
                    </td>
                </tr>
            }

            @for(int i = Model.item_end; i< Model.item_start + 15; i++)
            {
                <tr style="opacity:0; background-color: transparent">
                    <td>Layout_fill</td>
                    <td>Layout_fill</td>
                    <td>Layout_fill</td>
                    <td>Layout_fill</td>
                    <td>Layout_fill</td>
                </tr>
            }


        </tbody>
    </table>

</div>
