@page
@model ScreenCoreApp.TimetableModel
@{
    ViewData["Title"] = "Stundenplan";
}

<script src="~/JS/exam_animation.js"></script>
<script src="~/JS/tile_control.js"></script>


<div class="content_header">
    @Model.ClassName
</div>

<div id="pageindex" class="class_information">@Model.ClassInformation</div>


<div id="timetable_container">

    <div id="info_sidebar">
        <div id="class_details">
            <div class="sidebar_header">Klassendetails</div>
            <h4>Raumnummer</h4>
            <h3>@Infoscreen_Verwaltung.classes.StringHelper.ToValidRoomBuilding(Model.Properties.gebäude + "-" + Model.Properties.raum,4,2)</h3>
            <h4>Klassenvorstand</h4>
            <h3>@(String.IsNullOrEmpty(Model.Properties.klassenvorstand) ? "Nicht festgelegt": Model.Properties.klassenvorstand) </h3>
            <h4>Klassensprecher</h4>
            <h3>@(String.IsNullOrEmpty(Model.Properties.klassensprecherName) ? "Nicht festgelegt" : Model.Properties.klassensprecherName )</h3>
        </div>

        <div id="upcoming_exams">
            
            <div class="sidebar_header">Tests</div>
            @if (Model.Exams.Count == 0)
            {
                <h3>Keine Tests</h3>
            }
            else
            {
                @foreach (Infoscreen_Verwaltung.classes.Structuren.Tests exam in Model.Exams)
                {
                    <div>
                        <h3>
                            @exam.Fach - @exam.Testart
                        </h3>

                        <h4>
                            Datum: @exam.Datum.ToString("dd.MM") / @exam.Stunde <br />Lehrer: @exam.Lehrer
                        </h4>
                    </div>

                }
            }
            
        </div>
    </div>

    <div id="timetable">      
        <div class="table">
            @for (int row = 0; row < Model.LessonCount+2; row++)
            {
                <div class="tr">
                    <div class="td timetable_lessonNum"> 
                        @(row > 1 ? (row-( Model.ZerothLesson ? 2 : 1)).ToString() : "")
                    </div>

                    @for (int col = 0; col <= 4; col++)
                    {
                        @Html.Raw(Model.Days[col].HtmlTableData[row])
                    }
                </div>                   
            }
        </div>   
    </div>

</div>
